**/.Rhistory
**/.DS_Store
**/.Rapp.history
**/.ipynb_checkpoints
**/.virtual_documents
susieR.Rproj
.Rproj.user
.RData
.Ruserdata
.pixi/
Rplots.pdf
docs
pixi.lock
**/*.html
**/*.so
**/*.o
.claude
susieR.Rcheck
